/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.DS_Store
*.ipynb_checkpoints
apache-drill-*
parquet/*
clojush/
configs/
generations/
underfs
storage
logs
journal
data